a, a:link, a:visited, a:focus, a:active, a:hover{
  text-decoration: none;
}

.centred-body{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-clip: border-box;
}

.entry-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-clip: border-box;
  gap: 15px;
}

body{
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.prv-ent-button{
  padding-top: 50px;
}

.prv-ent-body{
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.prvEntries{
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.diaryentryBox{
  display: flex;
  flex-flow: column;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 2px 1px 5px 1px;
}

/* From Uiverse.io by sekaiking */ 
a, button {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

a:hover, button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

a:active, button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

/* FLOATING BUTTON EXCLUSIVE STYLES */
.floating-btn {
  position: fixed;
  bottom: 24px;
  right: 24px;
  border-radius: 100%;
  box-shadow: 4px 5px 12px;
  width: 48px;
  height: 48px;
  padding: 0px;
  text-align: center;
  font-size: 28px;
  line-height: 48px;
  transition: all 0.3s ease-in-out;
}