a, a:link, a:visited, a:focus, a:active, a:hover{
  text-decoration: none;
}

.centred-body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-clip: border-box;
}