<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body class="centred-body">
    <div class="login-signup-style">
        <div>
            <input class="usernameEntry" type="text" placeholder="Username"></input>
            <input class="passwordEntry" type="text" placeholder="Password"></input>
        </div>
        
        <div>
            <button class="signUpButton">Sign Up</button>
            <button class="logInButton">Log In</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>